---
import Layout from "../layouts/Layout.astro";
import HomeSection from "../components/HomeSection.astro";

---

<Layout title="Home">
	<main class="w-[80vw] p-5">
		<h1>Home</h1>
		<p>Welcome to the home page!</p>
		<HomeSection />
	</main>
</Layout>
