---
import "../styles/global.css";
const { title } = Astro.props;
import Sidebar from "../components/Sidebar2.astro";
import { type AstroCookies } from "astro";

const cookies = Astro.cookies as AstroCookies;
const token = cookies.get("accessToken")?.value || null;
console.log("Token on Home page:", token);
const response = await fetch("http://api.studio27.rs/api/auth/me", {
	headers: {
		Authorization: `Bearer ${token}`,
	},
});
const userData = await response.json();
console.log("User data from /api/auth/me:", userData);
---

<!doctype html>
<html lang="sr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap" rel="stylesheet">

    </head>
    <body>
        {!userData.error?<div class="min-h-screen  flex">
            <Sidebar />
            <p>{userData.userId}</p>
            <slot />
        </div>:<div>
            <h2>Niste logovani pa ne mozete pristupiti ovoj stranici</h2>
            <p>Molim vas vratitite se na <a href="http://studio27.rs">pocetna</a> i ulogujte se kako bi ste koristili aplikaciju</p>
            </div>}
    </body>
</html>
