---
import TreningSection from "../components/TreningSection.astro";
import Layout from "../layouts/Layout.astro";
import SectionLearningCurve from "../components/SectionLearningCurve.astro";
import KurseviSection from "../components/KurseviSection.astro";
import ONamaSection from "../components/ONamaSection.astro";
---

<Layout title="Glavna stranica">
	<h1 class="hidden">Dobrodošli!</h1>
	<KurseviSection />
	<TreningSection />
	<SectionLearningCurve />
	<ONamaSection />
</Layout>
