---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
const accesToken = Astro.cookies.get("accessToken")?.value;	

const response = await fetch("http://api.studio27.rs/api/auth/refresh", {
	method: "POST",
	credentials: "include",
});
console.log("Refresh response:", response);


---

<Layout title="Admin Dashboard">
	<main>
		<h1 class="text-2xl font-bold text-center hidden md:block">
			Welcome to the Admin Dashboard
		</h1>
		<p>response: {response.status}</p>
		
		
	</main>
</Layout>
