---
import Layout from "../layouts/Layout.astro";
import VideoPlayer from "../react components/VideoPlayer";
const accessToken = Astro.cookies.get("accessToken")?.value;
const refreshToken = Astro.cookies.get("refreshToken")?.value;
---

<Layout title="Admin Dashboard">
	<main>
		<h1 class="text-2xl font-bold text-center hidden md:block">
			Welcome to the Admin Dashboard
		</h1>
		{
			accessToken ? (
				<>
					<p>
						Ne možeš koristiti &lt;video&gt; tag bez proxy-ja ako je
						endpoint zaštićen!
					</p>
					<button id="button">Click to test proxy</button>
					<VideoPlayer client:idle videoPath="/videos/proba.mp4" accessToken={refreshToken} />
				</>
			) : (
				<p class="text-red-500">Niste ulogovani ili nema tokena.</p>
			)
		}
	</main>
</Layout>
