---
import Header2 from "../components/Header2.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import KurseviSection from "../components/KurseviSection.astro";
import Hero from "../components/Hero.astro";
// src/layouts/Layout.astro
const { title } = Astro.props;
---

<!doctype html>
<html lang="sr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap" rel="stylesheet">

    </head>
    <body class="relative">

    <!-- Header2 je fiksiran -->
    <div class="fixed top-0 left-0 w-full z-50">
      <Header2 />
    </div>

    <!-- Pomeri ostatak stranice dole za visinu Header2 -->
    <div class="pt-[70px] w-screen overflow-hidden">
      <Hero/>
      <slot />
      <Footer />
    </div>

  </body>
</html>
