---
import bg from "../assets/bg-3d1.jpg";
---
<section class="shadow-md bg-gray-50 w-full h-96 rounded-base flex items-center justify-center">
    <h2 class="text-3xl font-bold text-gray-800">Dobrodošli na našu platformu za učenje!</h2>
</section>