---

---

<section class="shadow-md bg-gray-50 w-1/2 h-96 rounded-base flex items-center justify-center">
    <h2 class="text-3xl font-bold text-gray-800">Pogledajte nove dostupne kurseve</h2>
</section>