---
import { Image } from "astro:assets";

---

<header id="home" class="relative min-h-screen w-full overflow-hidden bg-black text-white">

    <!-- Background -->
    <div class="absolute inset-0 z-0 w-screen h-screen overflow-hidden">
        <Image
            src={"http://api.studio27.rs/api/uploaded-images/naslovna2.jpg"}
            alt="Interior Background"
            width={50}
            height={20}
            class=" bg-fixed object-cover  w-screen h-screen opacity-80"
        />
        <div class="absolute inset-0 bg-black/70"></div>
    </div>

    <!-- Content -->
    <div class="relative z-10 flex flex-col justify-center min-h-screen px-6 sm:px-10 md:px-20 lg:px-32 py-20">

        <!-- Grid -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-12 md:gap-20">

            <!-- Left -->
            <div class="text-center md:text-left md:pl-16 lg:pl-56">
                <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-extrabold leading-tight mb-8">
                    3D ŠKOLA <br /> KURSEVA
                </h1>

                <ul class="space-y-2 text-base sm:text-lg md:text-xl opacity-90">
                    <li>• Od nule do prvog klijenta</li>
                    <li>• HERO (Level up)</li>
                    <li>• Kurs eksterijera</li>
                    <li>• Animacija</li>
                </ul>
            </div>

            <!-- Right -->
            <div class="text-center md:text-left md:mt-10">
                <ul class="space-y-2 text-base sm:text-lg md:text-xl opacity-90">
                    <li>- Snimljeni materijal (prati svojim tempom)</li>
                    <li>- Feedback u chatu</li>
                    <li>- Kompletan propratni materijal</li>
                    <li>- Praktični projekti</li>
                    <li>- Gotove scene</li>
                    <li>- Doživotni pristup</li>
                    <li>- Sertifikat</li>
                </ul>
            </div>

        </div>

        <!-- Bottom -->
        <div class="mt-16 flex flex-col md:flex-row items-center md:pl-16 lg:pl-56 justify-between gap-8">

            <h2 class="text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold text-center md:text-left">
                3Ds Max | Corona render | Photoshop
            </h2>

            <button onclick="window.location.href='#kursevi'" class="bg-red-900 hover:bg-red-800 transition-all duration-300 px-8 py-3 sm:px-10 sm:py-4 text-base sm:text-lg font-bold shadow-lg w-full md:w-auto">
                Pogledaj kurseve
            </button>

        </div>

    </div>

</header>