---
import LoginSectionForm from '../react-components/LoginSectionForm.tsx'
import DropDownMenu from '../react-components/DropDownMenu.tsx'
import KontakModal from '../react-components/KontakModal.tsx'
import { Image } from "astro:assets"
---

<section class="bg-black text-gray-400 work-sans leading-normal text-base tracking-normal">

  <!-- Navbar -->
  <nav id="header" class="w-full fixed top-0 z-50 bg-black shadow py-3">
    <div class="w-screen container mx-auto flex flex-wrap items-center justify-between mt-0 py-3">

      <!-- Logo -->
      <div class="order-1 md:order-1 flex items-center">
        <a class="flex items-center tracking-wide no-underline hover:no-underline font-bold text-white text-l" href="#home">
          STUDIO27
          <Image src="/src/assets/studio27.jpg" width={100} height={100} alt="Profile" class="md:w-[2rem] sm:w-[1.5rem] w-[1rem] object-center ml-2" />
        </a>
      </div>

      <!-- Navigation Links -->
      <div class="hidden md:flex md:items-center md:w-auto w-full order-3 md:order-2">
        <nav>
          <ul class="md:flex items-center justify-between text-base text-gray-400 pt-4 md:pt-0">
            <li><a class="inline-block no-underline font-bold text-white text-l py-2 px-4" href="#home">Početna</a></li>
            <li><a class="inline-block no-underline font-bold text-white text-l py-2 px-4" href="#kursevi">Program kursa</a></li>
            <li><a class="inline-block no-underline font-bold text-white text-l py-2 px-4" href="#prednosti">Prednosti obuke</a></li>
            <li><a class="inline-block no-underline font-bold text-white text-l py-2 px-4" href="#struktura">Struktura učenja</a></li>
            <li><a class="inline-block no-underline font-bold text-white text-l py-2 px-4" href="#recenzije">Radovi studenata</a></li>
            <li><a class="inline-block no-underline font-bold text-white text-l py-2 px-4" href="#onama">O nama</a></li>
          </ul>
        </nav>
      </div>

      <!-- Dropdown Menu + Kontakt Button -->
      <div class="hidden md:flex md:items-center md:w-auto w-full order-3 md:order-3">
        <nav>
          <ul class="md:flex items-center justify-between text-base text-white pt-4 md:pt-0 space-x-4">
            <li>
              <DropDownMenu client:load />
            </li>
            <li>
              <a
                class="inline-block no-underline font-bold text-white text-l py-2 px-4 cursor-pointer"
                id="kontaktLink"
              >
                Kontakt
              </a>
            </li>
          </ul>
        </nav>
      </div>

    </div>
  </nav>

  <!-- React Modal za Kontakt -->
  <KontakModal client:load triggerId="kontaktLink" />

  <!-- Login Section -->
  <LoginSectionForm client:load />

</section>