---
type Kurs = {
  id: number;
  naziv: string;
  opis: string;
  slikaUrl: string;
};

const res = await fetch("http://localhost:8080/api/kursevi");
const kursevi: Kurs[] = await res.json();
---

<section id="kursevi" class="bg-black py-20 px-6 sm:px-10 md:px-16">

  <h2 class="text-3xl sm:text-4xl md:text-5xl text-center mb-16 font-semibold text-white tracking-wide">
    NAŠI KURSEVI
  </h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 max-w-7xl mx-auto">

    {kursevi.map((kurs) => (
      <div class="relative h-[420px]  sm:h-[450px] md:h-[500px] overflow-hidden shadow-xl group">

        <!-- Image Section -->
        <div class="relative">
          <div
            class="h-72 bg-cover bg-center"
            style={`background-image: url('http://api.studio27.rs/api/media?remoteFilePath=${kurs.slikaUrl}');`}
          >
            <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent opacity-60"></div>
            <div class="absolute inset-0 p-6 flex flex-col justify-end">
              <h2 class="text-2xl font-bold text-white leading-tight">
                {kurs.naziv}
              </h2>
            </div>
          </div>

          <!-- Button -->
          <div class="flex justify-end">
            <a
              href={`/kurs/${kurs.id}`}
              class="bg-red-900 hover:bg-red-800 transition-all duration-300 px-5 py-2 sm:px-6 sm:py-3 text-sm font-semibold"
            >
              Detaljnije
            </a>
          </div>

        </div>

      </div>
    ))}

  </div>

</section>